{% extends 'journal/base.html' %}
{% load static %}

{% block page_header %}
  <h4>My Questions</h4>
{% endblock page_header %}

{% block title %}
  {{ user.username|title }} | Learn Scholar
{% endblock title %}

{% block content %}

{% for question in u_questions %}
    <div class="container">
        <div class="row ">
            <div class="card mb-4 ml-2 shadow">
                <div class="card-header">
                    <!-- <span><img style="margin-left: 0px;" width="40px" height="40px" class="rounded-circle" src="{% static 'images/mac.jpg' %}" alt=""></span> -->
                    <span style="color: #ffffff;font-family: 'Josefin Sans';">{{ question.owner }}</span>
                    <small><p style="font-style: italic; font-size: 13px; float: right; margin-top: 6px; color: #ffffff;">
                       Asked {{question.x_ago}}
                    </p></small>
                </div>
                <div class="card-body">
                    <p style="font-size: 20px;font-weight: 70;">{{ question }}</p>
                </div>
                <div class="card-footer">
                    <span><a style="color:#04C1D1" href="{% url 'community:question' question.id %}">{{ question.num_answers }} Answers</a></span>
                    <span><a style="color: #04C1D1; float: right;" href="{% url 'community:new_answer' question.id %}">Add Answer</a></span>
                </div>
            </div>
        </div>
    </div>
  {% empty %}
    <h3 style="font-style: italic; font-size: 20px;">You have not asked any question yet.</h3>
  {% endfor %}
{% endblock content %}