<!--  Learn Scholar Beta. -->
<!--  Copyright 2020 @Irere Emmanuel  -->
<!--   Copyright 2020 Learn Scholar, Inc. -->
<!-- All Rights reserved. -->

{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Reset Password Sent | Learn Scholar</title>
    <link rel="stylesheet" href="{% static 'css/pass_reset.css' %}">
</head>
<body>
    <div class="container">

        <div class="form-control">
            <h1 class="btn btn-ghost">Your Password Reset Email Has Been Sent</h1>
            <p>
                We’ve emailed you instructions for setting your password, 
                if an account exists with the email you entered. 
                You should receive them shortly.
            </p>
            <br>
            <p>
                If you don’t receive an email, 
                please make sure you’ve entered the address you registered with, 
                and check your spam folder.
            </p>
        </div>
        
    </div>
</body>
</html>