<!--  Learn Scholar Beta. -->
<!--  Copyright 2020 @Irere Emmanuel  -->
<!--   Copyright 2020 Learn Scholar, Inc. -->
<!-- All Rights reserved. -->

{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Reset Password Complete | Learn Scholar</title>
    <link rel="stylesheet" href="{% static 'css/pass_reset.css' %}">
</head>
<body>
    <div class="container">

        <div class="form-control">
            <h1 class="btn btn-ghost">Password Reset Complete</h1>
            <p>
                Your password has been set. You may go ahead and log in now.
            </p>
            <br>
            <p>
                <a href="/account/login/">Log In</a>
            </p>
        </div>
        
    </div>
</body>
</html>