<!--  Learn Scholar Beta. -->
<!--  Copyright 2020 @Irere Emmanuel  -->
<!--   Copyright 2020 Learn Scholar, Inc. -->
<!-- All Rights reserved. -->

{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>New Password | Learn Scholar</title>
    <link rel="stylesheet" href="{% static 'css/pass_reset.css' %}">
</head>
<body>
    <div class="container">
        <form action="" method="POST">
			{% csrf_token %}
            <h1 class="btn btn-ghost">Enter Your New Password</h1>

            <div class="form-control">
                <p>Please Enter your new Password twice so we can verify you typed it in correctly.</p>
            </div>

            <div class="form-control">
                {{ form }}
            </div>

            <input style="background-color: #04C1D1!important;outline: none;width: 50%;" class="btn" type="submit" name="update Password" value="Send">
            
        </div>
    </div>

    <script>

        let form_fields = document.getElementsByTagName('input')

        form_fields[1].placeholder = 'Enter Your New Password'
        form_fields[1].placeholder = 'Re-Enter Your Password'

    </script>
</body>
</html>